.album-container {
	padding-bottom:100px;
}

@media screen and (max-width: 768px) {
	.album-container {
		padding-bottom: 40px; 
	}
}

@media screen and (min-width: 768px) {
	.container-fluid {
		padding-left: 0px;
	}
}

#album-cover-art {
	max-width:100%;
}

.album-details {
	padding-bottom:20px;
}

#album-title {
	margin-bottom: 0px;
	font-weight: bold;
}

.artist {
	font-size: 24px;
}

#release-info {
	font-style: italic;
}

#play-controls-column {
	width:40px;
}


tr.song:hover {
	cursor:pointer;
}

tr.song .hoverSongRowControl {
	display:none;
}

tr.song:hover .hoverSongRowControl { 
	display:block; 
}

tr.song:hover .songNumber {
	display:none;
}