.album-container {
padding-bottom:100px;
/*max-width: 500px;
margin: 0 auto;*/

}

#album-cover-art {
max-width:100%;
}

.album-details {
 padding-bottom:20px;
}

#album-title {
margin-bottom: 0px;
font-weight: bold;
}

.artist {
	font-size: 24px;
}

#release-info {
	font-style: italic;
}

