.library-album-pic {
	width:100%;
}

.library-album {
   font-size: 18px;
   margin-bottom:30px;
}

.album-info-1 {
   color:#333;
   margin-top:5px;
   font-size: 20px;
}

.album-name {
	font-weight:bold;
}

.album-info-2 {
   color: #8B8D92;;
   
}

.album-numsongs {
    text-transform: uppercase;
    font-size: 14px;
    color: #8B8D92;
}