.player-bar {
	background-color: #1c1c1c;
	color: white;
	margin-top:20px;
	padding-top:10px;
	margin-left: auto;
	margin-right: auto;	
	padding-bottom:10px;
	position:fixed;
	width:100%;
	bottom:0;
}

#playback-controls {
	margin: 0 auto;
}

.player-bar div {
	display: inline-block;
}
.time-text{
  font-weight:bold;
  font-size:16px;
}

#buttons {
	font-size: 32px;
}

.player-bar span {
	padding: 5px;
}


.current-time {

	padding:10px 10px;
}


.total-time {

	padding: 10px 10px;

}

.seeker {
	padding-left: 0px;
	padding-right: 0px;
}

.icon {
	font-size: 24px;
	padding: 5px;
}

.volume-seek{
	width: 100%;
}

.time-seek {
	margin-top:13px;
	width: 100%;
}

#play-pause{
	display: inline-block;
	width: 50px;
}

#time-indicator {
	margin-left: 10px;
	margin-right: 10px;
}

@media screen and (max-width: 576px) {
    #buttons {
       width: 100%
	}

}