.App {
  text-align: center;
}


#bloc-jams-title{
  margin-left: 0px;
  margin-top: 16px;
}

#sticky-header {
  background-color:#f3f3f3;
  margin-bottom:20px;
}


#header-nav {
  line-height: 70px;
  font-size: 16px;
}

.header-link {
  padding-right:10px;
}

a:hover {
  text-decoration:none;
}

