.App {
  text-align: center;
}

#site-nav{
  background-color:#1c1c1c;
  margin-bottom:20px;
}

#bloc-jams-title{
  margin-left: 0px;
  margin-top: 16px;
}

#header-logo {
  margin-top: 12px;
}

.header-link {
  padding-right:10px;
}

a:hover {
  text-decoration:none;
}

#library-link {
  color:#f5f5f5;
  font-size: 20px;
}

#library-link:hover {
  color:white 
}
